<!DOCTYPE html>
<html>
<head>
    <title>NoScam - <%= pagename %></title>
    <link href="reset.css" rel="stylesheet" type="text/css" />
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>