<div id="nav">
    <a class="navlink" id="homenav" href="/">NoScam</a>
    <a class="navlink" href="/learn">Learn</a>
    <a class="navlink" href="/report">Report</a>
    <a class="navlink" href="/explore">Explore</a>
</div>