<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>

<div id="content">
    <div id="name">Explore</div>
    <div class="description">Explore our data to learn more about trends with scam phone calls.</div>
    <div id="explorelist">
        <div class="exptype">
            <img src="search.png">
            <div class="exptext">
                <span class="bold">Phone Number Lookup</span>
                <p>Search a specific phone number and see if it's been reported before.</p>
            </div>
            <a class="rightnavigation" href="/explore/search">Search</a>
        </div>

        <div class="exptype">
            <img src="map.png">
            <div class="exptext">
                <span class="bold">Area Code Hotmap</span>
                <p>Look at where spam calls are coming from on a map, determined by phone number area code.</p>
            </div>
            <a class="rightnavigation" href="/explore/map">Map</a>
        </div>
            
        <div class="exptype">
            <img src="pie_chart.png">
            <div class="exptext">
                <span class="bold">Graphs</span>
                <p>Look at graphs of scam phone call reports. Analyze by date, by type, and more.</p>
            </div>
            <a class="rightnavigation" href="/explore/graphs">Graphs</a>
        </div>
    </div>
</div>


<%- include('../partials/foot'); %>