<%- include('../partials/head'); %>

<div id="center-content">
    <div id="name">NoScam</div>
    <div id="description">Empower yourself and others by learning about phone scams, reporting phone scam attempts, and visualizing data. Tracking <%= callcount %> calls and counting!</div>
    <div id="buttons">
        <a class="navigation">Learn</a>
        <a class="navigation" href="/report">Report</a>
        <a class="navigation">Explore</a>
    </div>
</div>

<%- include('../partials/foot'); %>