<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>

<div id="content">
    <div id="name">Learn</div>
    <div class="description">As technology evolves, phone scammers have grown more sophisticated. Learn to identify common phone scams and protect yourself.</div>
    <div id="scamlist">
        <div class="scamtype">
            <div class="scamtextcontainer">
                <div class="typename"><span class="bold">Amazon Impersonation</span></div>
                <div class="typedesc">Phone scammers will call impersonating Amazon. Often they will claim there was an unauthorized charge on the victim's account. The phone scammer will then attempt to trick the victim into sending money.</div>
            </div>
            <a class="rightnavigation" href="https://www.amazon.com/gp/help/customer/display.html?nodeId=G4YFYCCNUSENA23B">Source</a>
        </div>
        <div class="scamtype">
            <div class="scamtextcontainer">
                <div class="typename"><span class="bold">Amazon Impersonation</span></div>
                <div class="typedesc">Phone scammers will call impersonating Amazon. Often they will claim there was an unauthorized charge on the victim's account. The phone scammer will then attempt to trick the victim into sending money.</div>
            </div>
            <a class="rightnavigation" href="https://www.amazon.com/gp/help/customer/display.html?nodeId=G4YFYCCNUSENA23B">Source</a>
        </div>
        <div class="scamtype">
            <div class="scamtextcontainer">
                <div class="typename"><span class="bold">Amazon Impersonation</span></div>
                <div class="typedesc">Phone scammers will call impersonating Amazon. Often they will claim there was an unauthorized charge on the victim's account. The phone scammer will then attempt to trick the victim into sending money.</div>
            </div>
            <a class="rightnavigation" href="https://www.amazon.com/gp/help/customer/display.html?nodeId=G4YFYCCNUSENA23B">Source</a>
        </div>
    </div>
    <div class="description">What to do after receiving a phone scam? Hang up imediately and report the phone number. It's not worth it to continue speaking to the scammers as they may target you more in the future. Learn more.</div>
</div>


<%- include('../partials/foot'); %>