<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>

<div id="content">
    <div id="name">Learn</div>
    <div class="description">As technology evolves, phone scammers have grown more sophisticated. Learn to identify common phone scams and protect yourself.</div>
    <div id="scamlist">
        <%- body %>
        <div class="scamtype">
            <div class="scamtextcontainer">
                <div class="typename"><span class="bold">Other</span></div>
                <div class="typedesc">Phone scammers are constantly evolving, and using new techniques. Be vigilant, think for yourself, and educate others!</div>
            </div>
            <a class="rightnavigation" href="https://www.consumer.ftc.gov/articles/0208-phone-scams">Source</a>
        </div>
    </div>
    <div class="description">What to do after receiving a phone scam? Hang up imediately and report the phone number. It's not worth it to continue speaking to the scammers as they may target you more in the future.</div>
    <div id="centerbuttons">
        <a class="navigation" href="https://www.consumer.ftc.gov/articles/0208-phone-scams">Learn More</a>
    </div>
</div>


<%- include('../partials/foot'); %>