<%- include('../partials/head'); %>

<div id="center-content">
    <div id="name">Report Phone Scam</div>
    <div id="description">Received a scam phone call? Report here so we can collect data and empower others.</div>
    <div id="report-form">
        <label for="phonenumber">Enter Phone Number:</label>
        <input type="tel" id="phonenumber" name="phonenumber" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required> 
    </div>
</div>

<%- include('../partials/foot'); %>