<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>

<div id="center-content">
    <div id="name">Lookup Phone Number</div>
    <div class="description">Search a specific phone number and see if it's been reported before.</div>
    <div id="search-form">
        <label for="phonenumber">Phone Number</label>
        <input type="tel" id="phonenumber" name="phonenumber" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
    </div>
    <div id="search-submit">
        <button id="submit">Submit</button>
    </div>
    <div id="messaging">
        <span id="valid"></span><span id="invalid"></span>
    </div>
    <div id="explore">
        <a class="navigation" href="/explore">Explore our data!</a>
    </div>
</div>

<script src="/search.js"></script> 

<%- include('../partials/footc'); %>