html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    background-color: white;
}

input, select {
    border: 1px dashed;
}

#nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    background-color: #9fe2bf;
}

#homenav {
    margin-right: auto;
}

.navlink {
    color: black;
    font-size: 30px;
    text-decoration: none;
    padding: 15px;
    transition: 100ms linear;
    z-index: 20;
}

.navlink:hover {
    background-color: #caf7ff;
}

#footer {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    color: black;
}

#footerc {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10px;
    font-size: 17px;
    color: black;
}

a {
    color: #9fe2bf;
}

#explore {
    display: none;
}

#center-content {
    position: absolute;
    top: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

#name {
    font-size: 60px;
    color:black;
    text-align: center;
}

.description {
    font-size: 25px;
    text-align: center;
    color:black;
    margin-top: 25px;
}

#buttons {
    margin-top: 50px;
}

.navigation {
    color: black;
    background-color: #9fe2bf;
    padding: 20px;
    text-decoration: none;
    margin: 10px;
    transition: 100ms linear;
}

.navigation:hover {
    background-color: #0070c8;
}

#report-form {
    font-size: 20px;
    margin-top: 25px;
    color: black;
}

input {
    margin: 10px;
}

#submit {
    color: black;
    background-color: #0070c8;
    padding: 20px;
    text-decoration: none;
    margin: 10px;
    transition: 100ms linear;
}

#submit:hover {
    opacity: 0.5;
    cursor: pointer;
}

#messaging {
    margin-top: 30px;
}

#valid {
    color: #04BF9D;
    font-size: 20px;
    margin-top: 30px;
}

#invalid {
    color: #F24B4B;
    font-size: 20px;
}

#explore {
    margin-top: 50px;
}

#content {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 50px;
}

.scamtype {
    background-color: #caf7ff;
    color: black;
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
}

.scamtextcontainer {
    max-width: 80%;
}

.exptype {
    background-color: #caf7ff;
    color: black;
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
}

.bold {
    font-weight: bold;
}

.exptype {
    display: flex;
    /*flex-wrap: wrap;*/
    word-wrap: normal;
    align-items: center;
    width: 100%;
}

.exptext {
    max-width: 75%;
}

img {
    height: 50px;
    padding: 10px;
}

.rightnavigation {
    color: black;
    background-color: #9fe2bf;
    padding: 20px;
    text-decoration: none;
    margin: 10px;
    transition: 100ms linear;
    margin-left: auto;
}

.rightnavigation:hover {
    background-color: #0070c8;
}

#search-form {
    font-size: 20px;
    margin-top: 25px;
    color: black;
}

.green {
    color: #04BF9D;
}

.red {
    color: #F24B4B;
}

#centerbuttons {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
}

#mapo {
    background-color: #0070c8;
    width: 100%;
    height: 80vh;
    margin-top: 50px;
}

.chartbox {
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

/* Color Theme Swatches in Hex 
Light-Purple { color: #A545BF; }
Dark-Purple { color: #281B59; }
Dark { color: #072A40; }
Aqua { color: #04BF9D; }
Red { color: #F24B4B; }
*/

/* Seafoam colors
Seafoam #9fe2bf
Dark blue #0070c8
Sky Blue #caf7ff
grayish blue #6a96b0

*/